@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}
body {
  text-align: center;
  /*line-height: 70%;*/
  /*background: #27ae60;*/
  /*background: #2c3e50;*/
  /*background: #3C40C6;*/
  background: #0000FF;
  /*color: #f1c40f;*/
  color: #FAFBFE;

  /*background: #1A5542;*/
  /*color: #72C0A6;*/
  /*color: #9CD4B9;*/
  min-width: 300px;
}

#earth {
  height: 28px;
  position: relative;
  bottom: -3px;
}

#footer {

  display: block;
  margin: auto;
  text-align: center;
  /*background: #341f97;*/
  /*padding: 5px;*/
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}

#link-field, #academiaEmail, #developerEmail {
  background: #fff;
  color: #0000FF;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
  width: 350px;
  border: none;
  border-radius: 5px;
  height: 30px;
}

#result {
  text-transform: capitalize;
}

#nowProcessing a {
  color: white;
  /*text-decoration: none;*/
}

#logo {
  position: relative;
  bottom: -8px;
  width: 40px;
  margin-right: 10px;
}

.header {
  margin: 10px;
  display: block;
  /*float: left;*/
  text-align: center;
}

.header a {
  text-decoration: none;
  /*color: white;*/
  color: #FAFBFE;
}

#description, #vision, #vision ul li {
  text-align: center;
  margin: 5px 20%;
  font-size: 140%;
}

#megaphone {
  position: relative;
  bottom: -6px;
  width: 25px;
}

#bottom {
  margin-top: 20px;
  font-size: 70%;
}

#contact {
  color: white;
}